body {
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Темный фон */
  color: #e0e0e0; /* Светлый текст */
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding: 80px 20px 20px; /* Увеличиваем верхний отступ, чтобы учесть фиксированный заголовок */
  width: 100%;
  max-width: 1200px; /* Максимальная ширина для содержимого */
}

.header {
  width: 100%;
  background-color: #333; /* Темный фон для заголовка */
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Фиксируем заголовок в верхней части страницы */
  top: 0; /* Убираем отступ сверху */
  left: 0;
  z-index: 1000; /* Убедимся, что заголовок остается поверх содержимого */
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Добавляем отступы слева и справа */
  box-sizing: border-box; /* Учитываем padding в ширине */
}

.nav-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #45a049;
}

.left-section {
  display: flex;
}

.right-section {
  display: flex;
  gap: 10px;
}

.content {
  width: 100%;
  max-width: 1200px; /* Максимальная ширина для содержимого */
  margin-top: 20px;
}

h2 {
  color: #ffffff; /* Белый текст для заголовков */
  margin-bottom: 20px;
  margin-top: 20px; /* Добавляем отступ сверху для заголовков */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #1e1e1e; /* Темный фон для элементов списка */
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
}

input {
  width: 100%; /* Поля ввода занимают всю ширину контейнера */
  max-width: 400px; /* Максимальная ширина для полей ввода */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #444;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #333; /* Темный фон для полей ввода */
  color: #e0e0e0; /* Светлый текст */
  display: block;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 5px; /* Добавляем отступы для кнопок */
}

button:hover {
  background-color: #45a049;
}

p {
  color: #c0c0c0; /* Светлый текст */
  font-size: 14px;
}

.error {
  color: #ff6b6b; /* Красный текст для ошибок */
}

.loading {
  color: #5bc0de; /* Голубой текст для загрузки */
}
